@import "compass";
@import "animation/core";


/*------------------------------------------------------------------
Variables
*/
@import "variables";

/*------------------------------------------------------------------
Utilities
*/
@import "utilities.scss";

/*------------------------------------------------------------------
Gutenberg
*/
.wp-block {
	max-width: 1200px;
	padding: 0 15px;
}