/*
    Description: Battery Megastore Admin CSS
    Version: 1.0.0
    Author: Outrank
    Author URI: https://www.outrank.co.uk
*/

#option-tree-header .theme_link,
#option-tree-header .option-tree-logo{
    display:none!important;
}
#option-tree-header #option-tree-logo a{
    display:none!important;
}

#option-tree-header .theme_link.show{
    display:block!important;
}

#option-tree-sub-header{
    border-top:1px solid #ccc!important;
}

.theme-about .parent-theme{
    display:none;
}
