/* Battery agreement */
.cart-battery-agreement .form-row {
  float: none !important;
  clear: both;
  display: block;
  padding: 10px;
  background-color: #fcc111;
  text-align: left;
}

.cart-battery-agreement .form-row label {
  margin: 0;
  font-weight: 400;
}

.cart-battery-agreement .form-row a {
  text-decoration: underline;
  color: #0070ba;
}

.woocommerce-cart.woocommerce-page .wc-proceed-to-checkout {
  position: relative;
  z-index: -9;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.woocommerce-cart.woocommerce-page .wc-proceed-to-checkout.show {
  z-index: 1;
  opacity: 1;
}

.woocommerce-cart.woocommerce-page .wc-proceed-to-checkout.locked {
  opacity: 0.6;
}

.woocommerce-cart.woocommerce-page .wc-proceed-to-checkout.locked::before {
  content: '';
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.woocommerce-checkout.woocommerce-page .cart-battery-agreement {
  display: none;
}

.woocommerce-checkout.woocommerce-page .cart-battery-agreement.show {
  display: block;
}
/* Battery agreement - END */

/* accordion*/
.accordion-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion-button {
  position: relative;
  display: block;
  width: 100%;
  padding: 16px 0;
  -webkit-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
  text-align: left;
  color: #000;
  cursor: pointer;
}

.accordion-button::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  right: 5px;
  margin-top: -7.5px;
  background: transparent;
  text-indent: -9999px;
  border-top: 2px solid #bfbfbf;
  border-left: 2px solid #bfbfbf;
  transition: all 250ms ease-in-out;
  text-decoration: none;
  color: transparent;
  transform: rotate(-135deg);
}

@media (min-width: 768px) {
  .accordion-button {
    padding: 14px 0;
    font-size: 15px;
  }
}

.accordion-item.is-active .accordion-button {
  font-weight: bold;
}

.accordion-item.is-active .accordion-button::before {
  transform: rotate(45deg);
  margin-top: -2.5px;
}

.accordion-content {
  overflow: hidden;
  display: none;
}

.accordion-content-inner {
  padding: 5px 0 15px;
}

/* faq and posts */
.product-faq-and-posts-section {
  padding: 20px 0 0;
  margin-bottom: 50px;
  clear: both;
}

.product-faq + .product-related-posts {
  margin-top: 40px;
}

@media (min-width: 1024px) {
  .product-faq-and-posts-section.has-2col-layout {
    display: flex;
  }

  .product-faq-and-posts-section.has-2col-layout .product-faq,
  .product-faq-and-posts-section.has-2col-layout .product-related-posts {
    width: 50%;
  }

  .product-faq-and-posts-section.has-2col-layout .product-faq {
    padding-right: 16px;
  }

  .product-faq-and-posts-section.has-2col-layout .product-related-posts {
    padding-left: 16px;
  }

  .product-faq-and-posts-section.has-2col-layout .product-faq + .product-related-posts {
    margin-top: 0;
  }
}

.product-related-posts-carousel {
  position: relative;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;
}

.product-related-post {
  padding: 10px;
  display: inline-flex !important;
  height: inherit;
}

.product-related-posts-carousel .slick-track {
  margin-left: 0;
  display: flex !important;
}

.product-related-posts-carousel .slick-slide {
  height: inherit !important;
}

.product-related-posts-carousel .slick-slide > div {
  height: 100%;
}

.product-related-posts-carousel .slick-arrow {
  position: absolute;
  z-index: 2;
  top: 100%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  text-indent: -999px;
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.product-related-posts-carousel .slick-arrow:hover {
  box-shadow: 0 0 13px -3px rgba(0, 0, 0, 0.25);
}

.product-related-posts-carousel .slick-arrow.slick-prev {
  left: 50%;
  background-image: url('../images/svg/arrows_circle_right.svg');
  transform: translateX(-105%);
}

.product-related-posts-carousel .slick-arrow.slick-next {
  right: 50%;
  background-image: url('../images/svg/arrows_circle_left.svg');
  transform: translateX(105%);
}

.product-related-post-inner {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.product-related-post-inner:hover {
  color: #121212;
}

.product-related-post-content {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-related-post-image {
  order: -1;
  overflow: hidden;
}

.product-related-post-inner:hover .product-related-post-image img {
  transform: scale(1.05);
}

.product-related-post-image-inner {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.product-related-post-image-inner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease-in-out;
}

.product-related-post-title {
  font-size: 1.125rem;
}
/* faq and posts - END */

.thb-category-top-content p,
.thb-category-top-content h1,
.thb-category-top-content h2,
.thb-category-top-content h3 {
  margin-bottom: 0;
}

.thb-category-bottom-content p, 
.thb-category-bottom-content h1, 
.thb-category-bottom-content h2, 
.thb-category-bottom-content h3 {
  margin-bottom: 0;
}
