/*
	Theme Name: Battery Megastore
	Description: Theme for Battery Megastore
	Version: 1.0.0
	Author: Outrank
	Author URI: https://www.outrank.co.uk
	Text Domain: peakshops
	Template: peakshops
	Domain Path: /inc/languages
*/

.has-text-white{color:#ffffff;}
.has-text-black{color:#000000;}
.has-text-yellow{color:#fcc111;}
.has-text-yellow .arrow svg{fill:#fcc111;}
.has-text-yellow .arrow svg .bar{fill:#fcc111;}

/* WooCommerce Category Header Styles */
.thb-woocommerce-header.style3 {background-blend-mode: multiply;background-color: rgb(18 18 18 / 60%)!important;padding-bottom: 55px;}
.thb-woocommerce-header.dark .button.style2{background-color:rgb(0 0 0 / 50%);}
.thb-woocommerce-header.style3 .thb-shop-title{text-shadow:2px 2px black;}
.thb-woocommerce-header.style3 .term-description p{font-weight:500;text-shadow:1px 1px black;}
.archive .thb-woocommerce-header.style3 .woocommerce-breadcrumb{text-shadow:1px 1px black;}
.thb-category-bottom-content .prodcat-img{width: 100%;margin: 0 auto;}

/* USP Header Style */
.ups-header{background-color: #fcc111 !important;}
.ups-header-custominner .br{border-right:1px solid #b2a386;}
.ups-header-custominner{padding-top: 15px !important;padding-bottom: 15px !important;}
.ups-header .fas{font-size: 20px;color: black;vertical-align: middle;}

.thb-cookie-bar{z-index:999999999999999;}
.woocommerce-shipping-methods .small{margin:0 0 0 5px;font-style:italic;}
.product-subtitle{font-style:italic;margin-bottom:0.5rem;margin-top:-8px;}
.thb-product-detail.thb-product-sticky{z-index:499999999999999;}
.woocommerce-cart .delivery-info{
	font-size:12px;
	margin-top:3rem;border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    padding: 10px 10px;
    text-align: justify;
}

/* Home Styling */
.home .thb-slide-content .thb-inner-buttons .btn-text-regular.white{
	color: black;
    border-color: #fff;
    background: #fcc10e;
    padding: 10px 20px;
    border-bottom: none;
}
.home .thb-slide-content .thb-inner-buttons .btn-text-regular.white:hover{background:#000;color:#fcc10e;}

/* General Theme Styling */
.button.alt:not(.style2){color: #000;}
.footer .newsletter-form .btn{color: #000;}
.grecaptcha-badge{display:none;}
.home-featslider .thb-slider-text, .home-featslider .thb-slider-title{text-shadow:2px 2px black;}
.thb-product-quickview .button.accent.data-sheet{margin-top: 10px; margin-bottom: 0px;}
.thb-product-quickview .loop-attributes{font-size: 16px;margin-top: 10px;margin-bottom: 1rem;table-layout:auto;text-align: left;}
.btn-text.style5{font-size: 16px;text-transform: capitalize;}

/* Reg Finder Lookup */
.page-id-70271 .lookup-result{margin-top: 0;background:#fec600;}
.page-id-70271 .thb-woocommerce-header.style3{margin-bottom: 0;}
.page-id-70271 .lookup-result h2{display: none;}
.page-id-70271 .bmproducts{max-width: 79.375rem;margin-left: auto;margin-right: auto;}
.page-id-70271 .thb-filter-bar{display: none;}
.page-id-70271 .woocommerce-products-header__title{display: none;}
.page-id-70271 .bm-store-subheader{text-align: center;}
.page-id-70271 .lookup_vehicle_details.start-stop_battery, .lookup_vehicle_details.standard_battery{max-width: 79.375rem;margin-left: auto;margin-right: auto;}

/* WooCommerce Single Product Styles */
.thb-product-detail .product-information h1{font-size: 25px;}
.woocommerce-product-details__short-description small{font-size:90%;}
.entry-summery #ppcp-messages{margin-top: 20px;}
.single-product .entry-summary #ppcp-messages{margin-top: 20px;}
.button.accent.data-sheet{color: #000;display: block;text-transform: uppercase;margin-bottom:10px;background-color:#e0e0e0;}
.button.accent.data-sheet:hover{background-color:#d1d1d1 !important;}
.thb-product-detail .product-information .out-of-stock{max-width:unset;}
.woocommerce-loop-product__title{min-height: 75px;}
.thb-product-tabs table.woocommerce-product-attributes{max-width: 100%;}
.woocommerce-product-attributes-item--weight{display:none;}
.wpcf7-form textarea.pricereqmesg{height:100px!important;min-height:100px!important;}
.summary .open-pricematch{margin-top: -1rem;margin-bottom: 1rem;color: #fcc10e;}
.summary .open-pricematch .text{font-size: 14px;text-decoration: underline;cursor:pointer;}
.summary .open-pricematch .fas{font-size: 14px;margin-right: 5px;text-decoration: none;color: #fcc10e;}
.thb-product-tabs.thb-product-tabs-style4 .wc-tabs li a{border-top: 1px solid #eee; border-left: 1px solid #eeeeee; border-right: 1px solid #eeeeee;}
.summary .lead-info{font-style: italic;margin-bottom: 0.5rem;}
.thb-product-tabs.thb-product-tabs-style4 .wc-tabs li{margin-right: 0;}
.thb-product-tabs.thb-product-tabs-style4 .wc-tabs li a{width: 100%;text-align: center;}

/* WooCommerce Procut Category Styles */
ul.products .loop-attributes{font-size:12px; margin-bottom: 1rem;table-layout:auto;text-align:left;}
table:not(.variations):not(.shop_table):not(.group_table) tbody tr:nth-child(even){background-color:#fefefe;}

/* WooCommerce Checkout Page */
.wc-proceed-to-checkout .checkout-button{margin-top: 20px;margin-bottom: 20px;}

/* WooCommerce Category Pages */
.term-25 .thb-woocommerce-header .thb-shop-category-list{display:none;}

@media only screen and (min-width: 1068px){
    .woocommerce-account .header,
    .woocommerce-cart .header,
    .woocommerce-checkout .header {
        margin-bottom: 0px;
    }

    .woocommerce-account .ups-header,
    .woocommerce-cart .ups-header,
    .woocommerce-checkout .ups-header {
        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 736px){
	.woocommerce-checkout #crafty_billing_button{margin-top:2.2rem;}
	.woocommerce-checkout #billing_cp_button{width:95%;}
}

@media print, screen and (max-width: 66.75em){
	.hide-for-small {display: none !important;}
}

.thb_title .thb_title_link {
  color: #121212;
}